{% extends "templates/app.twig" %}

{% block content %}
    <div class="homepage">
        <div class="hello">
            Hello
        </div>
        <div class="name">
            {{ name }}
        </div>
    </div>
{% endblock %}