.alert-info {
    position: relative;
    bottom: 350px;
    font-size: 4rem;
    background-color: rgba(202, 243, 229, 0.9);
    width: 70%;
    padding: 5px;
    border-top: solid 10px aquamarine;
}

.alert-error {
    position: relative;
    bottom: 550px;
    font-size: 4rem;
    background-color: rgba(243, 210, 202, 0.7);
    width: 40%;
    padding: 5px;
    border-top: solid 10px crimson;
}