{% extends 'templates/account.twig' %}
{% block content %}
    <div class="errorHandler">
        <img src="{{ base_path() }}/public/images/500.png" alt="The requested page is not found!">
        <h1>Oops! Something went wrong.</h1>
        <p>This might have happned because of invalid operation or any internal issue. Please contact administrator at <a href="mailto:abhishinde005@gmail.com?Subject=XentoOlx%20Error">abhishinde005@gmail.com</a></p>
        <h3>OR go back to <a href="{{ url_for('home') }}">Homepage</a></h3>
    </div>
{% endblock %}