{% extends 'templates/account.twig' %}
{% block content %}
    <div class="notFound">
        <img src="{{ base_path() }}/images/404.jpg" alt="The requested page is not found!">
    </div>
{% endblock %}